<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Section</title>
    <link rel="shortcut icon" href="/static/images/project_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <style>
        .addbook{
            margin: 10px;
            font-size: 120%;
            font-weight: 120%;
        }
        #form-div{
            display: inline-flexbox;
            max-height: 250px;
            padding-left: 120px;
            background-color: rgba(127, 255, 212, 0.571);
        }
    </style>
</head>
<body>
    <header>
        <img src="/static/images/project_logo.png" alt="logo" id="img_logo">
        <h4><a href="/" style="background-color:rgba(194, 202, 201);">Log out</a></h4>
    </header>
    
    <main style="max-width: 640px;">
        <div class="headdiv">
            <p>Admin Dashboard</p>
        </div>
        <div class="container">
            <aside>
                <h3><a href="/available/books/{{username}}">Available Books</a></h3>
                <h3><a href="/add/book/{{username}}">Add Book</a></h3>
                <h3><a href="/add/section/{{username}}" style="color: antiquewhite;">Add Section</a></h3>
                <h3><a href="/manage/book/{{username}}">Manage Book</a></h3>
                <h3><a href="/manage/section/{{username}}">Manage Section</a></h3>
                <h3><a href="/add/booksection/{{username}}">Add BookSection</a></h3>
                <h3><a href="/manage/user/{{username}}">Manage User</a></h3>
            </aside>
            <div class="container" id="form-div">
                <span style="color: rgb(20, 78, 236);margin-left: 120px;">*Successfully Added</span>
            </div>
            <div>
                <a href="/add/section/{{username}}" style="background-color: aliceblue;align-self: center;">Add New Section</a>
            </div>
        </div>
    </main>
</body>
</html>