<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="shortcut icon" href="/static/images/project_logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
    <header>
        <img src="/static/images/project_logo.png" alt="logo" id="img_logo">
        <h4><a href="/" style="background-color:rgba(194, 202, 201);">Log out</a></h4>
    </header>
    <main>
        <div class="headdiv">
            <p>Search Results</p>
        </div>
        <div class="container">
            <aside>
                <h3><a href="/dashboard/{{username}}">User Dashboard</a></h3>
                <h3 ><a href="/mybook/{{username}}">My Books</a></h3>
                <h3><a href="/myfeedback/{{username}}">My Feedbacks</a></h3>
                <h3><a href="/booksection/{{username}}">Books by Section</a></h3>
                <h3><a href="/bookauthor/{{username}}">Books by Author</a></h3>
            </aside>
            <div class="container" style="margin-left: 140px;">
                <div>
                    <h2>Search result for Book</h2>
                    {%for book in books%}
                    <p><a href="/details/book/{{book.book_id}}/{{username}}" style="background-color:rgba(194, 202, 201);">{{book.book_name}}</a></p>
                    {%endfor%}
                </div>
                <div>
                    <h2>Search result for Author</h2>
                    {%for author in authors%}
                    <p><a href="/details/author/{{author.author_id}}/{{username}}" style="background-color:rgba(194, 202, 201);">{{author.author_fname}} {{author.author_lname}}</a></p>
                    {%endfor%}
                </div>
                <div>
                    <h2>Search result for Section</h2>
                    {%for section in sections%}
                    <p>{{section.section_name}}</p>
                    {%endfor%}
                </div>
            </div>
        </div>
    </main>
</body>
</html>